.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  padding: 20px 40px;
  color: #323232;
  box-shadow: 0 0 5px 2px #D7D7D7;
  border-radius: 0 0 4px 4px;
  display: block;
  margin: 50px auto;
  width: 700px;
}

.city_input {
  margin-right: 10px;
  width: 160px;
}

.places {
  width: 40px;
  margin-right: 10px;
}

.places1 {
  width: 40px;
  line-height: 12px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
 }

.label_main {
  width: 250px;
  margin-right: 50px;
}

.container1 label {
  font-size: 11px;
}

.input_floor {
  width: 65px;
  margin-right: 10px;
}

.input_floor + div, .input_floor + div + div {
  margin-right: 10px;
}

input[type="text"], input[type="number"], select {
  border: 1px solid #d7d7d7;
  border-top-color: #878787;
  box-shadow: inset 0 1px #d7d7d7;
  outline: none;
  padding: 6px 26px 6px 6px;
}

input[type='checkbox'] {
  margin: 6px 10px 0 0;
  width: 20px;
  height: 20px;
  outline: none;
}

input[type='submit'] {
  margin-left: 270px;
  border-color: #d7d7d7;
  outline: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  color: #343434;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5), inset 0 0 0 white;
  cursor: pointer;
}

input[type='reset'] {
  border: 0;
  border-bottom: 1px solid #fff;
  margin-left: 35px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
}
input:focus:invalid, input.required:invalid {
  border: 2px solid #f35f57;
  border-radius: 2px
}

a {
  text-decoration: none;
  border-color: #d7d7d7;
  outline: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  color: #343434;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5), inset 0 0 0 white;
  cursor: pointer;
}

input[type='submit']:hover, a:hover {
  border-color: transparent;
  color: #fff;
  background: #ff5b52;
  background: linear-gradient(to bottom, #ff5b52 0%,#f23d33 100%);
}

hr {
  margin: 15px 0 12px 0;
  border: 0;
  border-bottom: 1px dashed #d7d8d8;
}

.buttons {
  margin: 30px -40px -20px;
  width: 780px;
  border-radius: 0 0 4px 4px;
  background: #f35f57;
  padding: 10px 0;
}

